XiaJBXie/Connected Services/TestMSExcelServiceReference/PCWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestOpenAndSaveExcel">
        <s:complexType />
      </s:element>
      <s:element name="TestOpenAndSaveExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestOpenAndSaveExcelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload_Open_Save_GetBack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64Str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload_Open_Save_GetBackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Upload_Open_Save_GetBackResult" type="tns:SOAPResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SOAPResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsComplete" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionInfo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessExceptionInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnObjectJson" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestPrint">
        <s:complexType />
      </s:element>
      <s:element name="TestPrintResponse">
        <s:complexType />
      </s:element>
      <s:element name="TestConcurrentRead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConcurrentReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConcurrentReadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TestOpenAndSaveExcelSoapIn">
    <wsdl:part name="parameters" element="tns:TestOpenAndSaveExcel" />
  </wsdl:message>
  <wsdl:message name="TestOpenAndSaveExcelSoapOut">
    <wsdl:part name="parameters" element="tns:TestOpenAndSaveExcelResponse" />
  </wsdl:message>
  <wsdl:message name="Upload_Open_Save_GetBackSoapIn">
    <wsdl:part name="parameters" element="tns:Upload_Open_Save_GetBack" />
  </wsdl:message>
  <wsdl:message name="Upload_Open_Save_GetBackSoapOut">
    <wsdl:part name="parameters" element="tns:Upload_Open_Save_GetBackResponse" />
  </wsdl:message>
  <wsdl:message name="TestPrintSoapIn">
    <wsdl:part name="parameters" element="tns:TestPrint" />
  </wsdl:message>
  <wsdl:message name="TestPrintSoapOut">
    <wsdl:part name="parameters" element="tns:TestPrintResponse" />
  </wsdl:message>
  <wsdl:message name="TestConcurrentReadSoapIn">
    <wsdl:part name="parameters" element="tns:TestConcurrentRead" />
  </wsdl:message>
  <wsdl:message name="TestConcurrentReadSoapOut">
    <wsdl:part name="parameters" element="tns:TestConcurrentReadResponse" />
  </wsdl:message>
  <wsdl:portType name="PCWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestOpenAndSaveExcel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">读取公式, 计算公式值后保存</wsdl:documentation>
      <wsdl:input message="tns:TestOpenAndSaveExcelSoapIn" />
      <wsdl:output message="tns:TestOpenAndSaveExcelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Upload_Open_Save_GetBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传 + 保存计算公式值测试 + 返回</wsdl:documentation>
      <wsdl:input message="tns:Upload_Open_Save_GetBackSoapIn" />
      <wsdl:output message="tns:Upload_Open_Save_GetBackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestPrint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">打印测试</wsdl:documentation>
      <wsdl:input message="tns:TestPrintSoapIn" />
      <wsdl:output message="tns:TestPrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConcurrentRead">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">并发测试</wsdl:documentation>
      <wsdl:input message="tns:TestConcurrentReadSoapIn" />
      <wsdl:output message="tns:TestConcurrentReadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PCWebServiceSoap" type="tns:PCWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestOpenAndSaveExcel">
      <soap:operation soapAction="http://tempuri.org/TestOpenAndSaveExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload_Open_Save_GetBack">
      <soap:operation soapAction="http://tempuri.org/Upload_Open_Save_GetBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPrint">
      <soap:operation soapAction="http://tempuri.org/TestPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConcurrentRead">
      <soap:operation soapAction="http://tempuri.org/TestConcurrentRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PCWebServiceSoap12" type="tns:PCWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestOpenAndSaveExcel">
      <soap12:operation soapAction="http://tempuri.org/TestOpenAndSaveExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload_Open_Save_GetBack">
      <soap12:operation soapAction="http://tempuri.org/Upload_Open_Save_GetBack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPrint">
      <soap12:operation soapAction="http://tempuri.org/TestPrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConcurrentRead">
      <soap12:operation soapAction="http://tempuri.org/TestConcurrentRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCWebService">
    <wsdl:port name="PCWebServiceSoap" binding="tns:PCWebServiceSoap">
      <soap:address location="http://localhost:38011/TestMSExcel/PCWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PCWebServiceSoap12" binding="tns:PCWebServiceSoap12">
      <soap12:address location="http://localhost:38011/TestMSExcel/PCWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>